<div class="container-fluid bg-light">
    <div class="container bg-light">
        <div class="row mt-4" style="height: 500px;">
            <div class="col"></div>
            <div class="col-md-6 bg-white shadow">

                <div class="card bg-warning mt-4">
                    <h4 class="text-white ps-3 pt-2 pb-2">To do List</h4>
                </div>

                <div class="shadow">
                    <div class="input-group p-4">
                        <input type="text" class="form-control" placeholder="Enter task" />
                        <button type="button" class="btn btn-outline-success">+</button>
                    </div>
                </div>

                <h4>Tasks :</h4>
                <div style="overflow-y: auto; height : 350px;">
                    <div class="m-3">
                        <div class="p-2 shadow">
                            <div class="row input-group ps-3">
                                <div class="card col-md-10 border-0">Angular</div>
                                <button style="height: 40px; width: 20px; margin-right: 2px;" type="button" class="btn btn-outline-primary col ">E</button>
                                <button type="button" class="btn btn-outline-danger col">X</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col"></div>
        </div>
    </div>
</div>